<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__CSS__/index.css?a=1" type="text/css">
</head>
<body style="padding:20px;">
    <div class="timeDiv">剩余时间：<span class="time">0</span> s</div>
    <div>
        <p style="margin-bottom:10px;">题目列表</p>
        <foreach name="questions_list" item="question">
            <if condition="$question.has_done eq 1">
                <button class="btn btn_ques mr10 " style="background-color: #0000FF;" type="button"><a href="{:U('Index/exam')}&question_num={$question.key}" style="color:#fff;">{$question.key}</a></button>
                <else />
                <button class="btn btn_ques mr10 " type="button"><a href="{:U('Index/exam')}&question_num={$question.key}">{$question.key}</a></button>
            </if>
        </foreach>
        <input type="hidden" value="{$question_info.question_id}" id="question_id">
        <br/><br />
        <div class="question">
            題目描述: {$question_info.desc}
            <br/>
            <foreach name="option" item="option">
                <if condition="$option.has_select eq 1">
                    <label class="optionIdLabel"><input type="radio" checked="checked" name="option_id" value="{$option.option_id}" />{$option.desc}</label>
                    <else />
                    <label class="optionIdLabel"><input type="radio" name="option_id" value="{$option.option_id}" />{$option.desc} </label>
                </if>
            </foreach>
        </div>
    </div>
    <div style="text-align:center;">
        <div style="margin-top:200px;">
            <div class="btn_wrap_pd">
                <if condition="$is_first neq 1"> 
                <button class="btn btn_submit mr10 " type="button" onclick="jump('{:U(\'Index/exam\')}&question_num={$previous_question_num}',1)">上一题</a></button>
                </if>
                <if condition="$is_last neq 1"> 
                <button class="btn btn_submit mr10 " type="button" onclick="jump('{:U(\'Index/exam\')}&question_num={$next_question_num}',1)">下一题</button>
                </if>              
                <button id="jiaojuanBtn" class="btn btn_submit mr10 " type="button" onclick="jump('{:U(\'Index/exam\')}&question_num={$over_question_num}',2)">交卷</button>
            </div>
        </div>
    </div>
</body>
<script src="__JS__/jquery.min.js"></script>
<script>
    !sessionStorage.time && (sessionStorage.time = 1800);
    setInterval(() => {
        if(sessionStorage.time<=0){
            sessionStorage.timeFinish = true;
            $('#jiaojuanBtn').trigger('click');
        }
        sessionStorage.time --;
        $('.time').html(sessionStorage.time);
    }, 1000);
function jump(url,type){
    var type     = type;
    var tmp      = $("input[name='option_id']:checked").val();
    var option   = tmp?tmp:0;   
    var question_id = $("#question_id").val();
    var host = location.protocol+'//'+location.host;
    var jump_url = host+url;
    var save_url = "{:U('Index/save_answer')}";
    var before_finish_url = "{:U('Index/before_finish')}";
    $.getJSON(save_url,{"question_id":question_id,'option_id':option},
        function(data){
            if(data.code==0){
                if(type == 2){
                    $.getJSON(before_finish_url,{},
                        function(data){
                            if(data.code==0){
                              window.location.href=jump_url;
                            }else if(data.code == 1){
                                if(!sessionStorage.timeFinish){
                                    if (confirm(data.msg)) {
                                        window.location.href = jump_url;
                                    }
                                }else{
                                    sessionStorage.time = 1800;
                                    sessionStorage.timeFinish = false;
                                    window.location.href = jump_url;
                                }
                            }else{
                                   alert('系統繁忙，再來一次');
                                   location.reload();
                            }
                        });
                }else{
                      window.location.href=jump_url;
                }
            }else{
                alert('系統繁忙，再來一次');
                location.reload();
            }
        });
}
</script>
</html>